
		body {	 font-family:Arial,helvetica, sans-serif; }
		#title { font-size: 1.6em;margin-top:8px;padding-top:4px;padding-bottom:4px;background-color: #EAF2D3; 
		 		 border-top:1px solid black;border-bottom:1px solid black;}
		#body {  color:black;padding: 4px 4px 4px 4px; }
		table {	 border-collapse: collapse;   }
		th {	 text-align: left;padding: 3px 7px 2px 7px;background-color: #A7C942;color: #ffffff; }
		td {     border: 1px solid #98bf21;padding: 3px 7px 2px 7px; }
		tr.alt { color: #000000;background-color: #EAF2D3;}
